altair==6.0.0
arviz-stats==0.7.0
backports.tarfile==1.2.0
bokeh==3.8.2
causalinference==0.1.3
distributed==2025.12.0
dm-tree==0.1.9
doubleml==0.11.1
dowhy==0.14
econml==0.16.0
fqdn==1.5.1
importlib-metadata==8.7.1
ipython-genutils==0.2.0
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
jaraco-context==6.1.0
jaraco-functools==4.4.0
jaraco.text==4.0.0
jax==0.9.0.1
jsonpointer==3.0.0
kaleido==1.2.0
matplotlib-venn==1.1.2
mlxtend==0.23.4
netcdf4==1.7.4
notebook==7.5.3
pgmpy==1.0.0
pip-chill==1.0.3
pipreqs==0.5.0
pyarrow==22.0.0
pycirclize==1.10.1
pydantic==2.12.5
pymc==5.27.1
python-dotenv==1.2.1
python-louvain==0.16
pyvis==0.3.2
rdata==1.0.0
rfc3987-syntax==1.1.0
rpy2==3.6.4
tabulate==0.9.0
tinycss2==1.4.0
tomli==2.4.0
ujson==5.11.0
uri-template==1.3.0
webcolors==25.10.0
xgboost==3.2.0
zarr==2.18.7
